{% url 'login' as loginUrl %}
{% url 'register' as registerUrl %}
{% url 'home' as homeUrl %}
{% url 'createRequest' as createRequestUrl %}
{% url 'logout' as logoutUrl %}
{% url 'profile' as profileUrl %}
{% url 'dashboard' as dashboardUrl %}


<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>🩸 Take my blood | {% block pagetitle %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">🩸 Take my blood</a>
            <div class="flex-grow-1"></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="flex-grow-0 flex-lg-grow-1"></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == homeUrl %} active {% endif %}" href="{{ homeUrl }}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == createRequestUrl %} active {% endif %}" href="{{ createRequestUrl }}">Create request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == profileUrl %} active {% endif %}" href="{{ profileUrl }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == dashboardUrl %} active {% endif %}" href="{{ dashboardUrl }}">dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logoutUrl %} active {% endif %}" href="{{ logoutUrl }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == registerUrl %} active {% endif %}" href="{{ registerUrl }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == loginUrl %} active {% endif %}" href="{{ loginUrl }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
        {% for m in messages %}
        <div class="mt-2 alert {% if m.tags == 'error' %}alert-danger {% elif m.tags == 'success' %}alert-success {% endif %}" role="alert">
            &#x2022; {{m}}
          </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>