{% extends "base.html" %}

{% block content %}


<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="my-3 d-inline-block">Donation requests</h2>

        <a class="btn btn-primary" href="{% url 'allRequests' %}">View all</a>
    </div>
    <div class="row flex-wrap gap-3">

        {% if reqs|length == 0 %}
        <h5 class="text-center my-5"> No Items </h5>
        {% endif %}

        {% for item in reqs %}
        <div class="card col-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{item.date}}</h6>
                <h5 class="card-title mb-2">{{item.bloodGroup}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.contactNumber}}</h6>
                <p class="card-text">{{item.description}}</p>
                {% if profile.bloodGroup == item.bloodGroup %}
                <a href="{% url 'acceptRequest' item.id %}" class="btn btn-success">Accept</a>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="my-3 d-inline-block">Exclusive donation requests</h2>

        <a class="btn btn-primary" href="{% url 'allPrivateRequests' %}">View all</a>
    </div>
    <div class="row flex-wrap gap-3">

        {% if preqs|length == 0 %}
        <h5 class="text-center my-5"> No Items </h5>
        {% endif %}

        {% for item in preqs %}
        <div class="card col-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{item.date}}</h6>
                <h5 class="card-title mb-2">{{item.bloodGroup}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.contactNumber}}</h6>
                <p class="card-text">{{item.description}}</p>
                <a href="{% url 'acceptRequest' item.id %}" class="btn btn-success">Accept</a>
                <a href="{% url 'declineRequest' item.id %}" class="btn btn-danger">Decline</a>
            </div>
        </div>

        {% endfor %}
    </div>

    <h2 class="my-3">Donation history</h2>
    <div class="row flex-wrap gap-3">

        {% if history|length == 0 %}
        <h5 class="text-center my-5"> No Items </h5>
        {% endif %}

        {% for item in history %}
        <div class="card col-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{item.date}}</h6>
                <h5 class="card-title mb-2">{{item.bloodGroup}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.contactNumber}}</h6>
                <p class="card-text">{{item.description}}</p>
                {% if item.cancelled %}
                <span class="badge bg-danger">Cancelled</span>
                {% else %}
                <span class="badge bg-success">Donated</span>
                {% endif %}

            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock content %}